# Dependencies
node_modules/

# Build artifacts
dist/
build/

# Environment files
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Databases
*.sqlite
database.sqlite

# Media & Uploads
uploads/

# Misc
package-lock.json
*.zip
*.tar.gz
*.exe
*.app