# Dependencies
node_modules/

# Build artifacts
dist/
build/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Temp & Scratch Scripts
*.js
*.html
*.ts
!apps/**
!packages/**

# OS Files
.DS_Store
Thumbs.db